<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
Access-Control-Allow-Origin.*
<dom-module id="login-app">
 <template class="body">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/index.css">
   <style>
     :host {
       display: block;
     }
   </style>
   <div class="container">
     <div class="row" hidden$={{logado}}>
       <h4>Inicia Sesión</h4>
     </div>
     <div class="row" hidden$={{logado}}>
       <h6>Ingresa con tu cuenta</h6>
     </div>
     <div class="row" hidden$={{logado}}>
         Correo Electrónico: <input type="email" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" align="center" value="{{email::input}}" required>
     </div>
     <div class="row" hidden$={{logado}}>
         Contraseña: <input type="password" aling="center" value="{{password::input}}" required>
     </div>
     <div class="row" hidden$={{logado}}>
       <button on-click="login" type="button" name="buttonIS">Inicia Sesión</button>
     </div>
     <div class="row" hidden$={{logado}}>
       <h7>¿Eres nuevo por aquí?</h7>
     </div>
     <div class="row" hidden$={{logado}}>
       <button on-click="alta" type="button" name="buttonCC">Crea tu cuenta</button>
     </div>
     <div class="row" hidden$={{!cotizar}}>
       <cotizar-segsalud></cotizar-segsalud>
     </div>
     <div class="row" hidden$={{!registro}}>
       <registro-app></registro-app>
     </div>
   </div>
   <iron-ajax
     id="doLogin"
     url="http://localhost:3002/v1/login"
     content-type="application/json"
     crossDomain: true
     dataType: 'jsonp'
     method="POST"
     handle-as="json"
     headers="Access-Control-Allow-Headers: *"
     on-response="manageAJAXResponse"
     on-error="showError">
 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginApp extends Polymer.Element {
     static get is() { return 'login-app'; }
     static get properties() {
       return {
         email: {
           type: String,
           value: ""
         },
         password: {
           type: String,
           value: ""
         },
         logado: {
           type: Boolean,
           value: false
         },
         registro: {
           type: Boolean,
           value: false
         },
         cotizar: {
           type: Boolean,
           value: false
         }
       };
     }
     login() {
        if (this.email.trim().length > 0) {
          if (this.password.trim().length > 0) {
            var loginData = {"email" : this.email, "password" : this.password};
            this.$.doLogin.body = JSON.stringify(loginData);
            this.$.doLogin.generateRequest();
            console.log("Petición enviada Login");
          } else {
            alert("El password no puede ser vacio.");
          }
        } else {
          alert("El email no puede ser vacio.");
        }
     }

     alta() {
       this.logado =  true;
       this.registro =  true;
     }

     manageAJAXResponse(data) {
       console.log("Respuesta recibida del servidor");
       console.log(data.detail.response);
       this.logado = true;
       this.cotizar =  true;
     }

     showError(error) {
       console.log("Hubo un error en la petición");
       console.log(error);
       console.log(error.error);
       alert("Datos ingresados incorrectos, verifique o registrese");
     }
   } // Fin de class LoginApp
   window.customElements.define(LoginApp.is, LoginApp);
 </script>
</dom-module>
