<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
Access-Control-Allow-Origin.*
<dom-module id="registro-app">
 <template>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/index.css">
   <style>
     :host {
       display: block;
     }
   </style>
   <div class="container">
     <div class="row" hidden$={{creado}}>
       <h4>Nuevo Registro</h4>
     </div>
     <div class="row" hidden$={{creado}}>
       <h6>Ingresa tus datos</h6>
     </div>
     <div class="row" hidden$={{creado}}>
         Nombre: <input type="texto" align="center" value="{{nombre::input}}" required>
     </div>
     <div class="row" hidden$={{creado}}>
         Apellido Paterno: <input type="texto" align="center" value="{{apepat::input}}" required>
     </div>
     <div class="row" hidden$={{creado}}>
         Apellido Materno: <input type="texto" align="center" value="{{apemat::input}}" required>
     </div>
     <div class="row" hidden$={{creado}}>
         Correo Electrónico: <input type="email" align="center" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" value="{{email::input}}" required>
     </div>
     <div class="row" hidden$={{creado}}>
         Confirma tu Correo Electrónico: <input type="email" align="center" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" value="{{emailconf::input}}"required>
     </div>
     <div class="row" hidden$={{creado}}>
         Contraseña: <input type="password" aling="center" value="{{password::input}}"required>
     </div>
     <div class="row" hidden$={{creado}}>
         Confirma tu Contraseña: <input type="password" aling="center" value="{{passwordconf::input}}"required>
     </div>
     <div class="row" hidden$={{creado}}>
       <button on-click="altaCta" class="btn btn-danger col-lg-4 col-xs-12" type="button" name="buttonAC">Crear Cuenta</button>
       <button on-click="regresar" class="btn btn-warning col-lg-4 col-xs-12" type="button" name="buttonReg">Regresar</button>
     </div>
     <div class="row" hidden$={{!cotizar}}>
       <cotizar-segsalud></cotizar-segsalud>
     </div>
     <div class="row" hidden$={{!login}}>
       <login-app></login-app>
     </div>

   </div>
   <iron-ajax
     id="doAltaCta"
     url="http://localhost:3002/v1/registro"
     content-type="application/json"
     crossDomain: true
     dataType: 'jsonp'
     method="POST"
     handle-as="json"
     headers="Access-Control-Allow-Headers: *"
     on-response="manageAJAXResponse"
     on-error="showError">
 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class RegistroApp extends Polymer.Element {
     static get is() { return 'registro-app'; }
     static get properties() {
       return {
         nombre: {
           type: String,
           value: ""
         },
         apepat: {
           type: String,
           value: ""
         },
         apemat: {
           type: String,
           value: ""
         },
         email: {
           type: String,
           value: ""
         },
         emailconf: {
           type: String,
           value: ""
         },
         password: {
           type: String,
           value: ""
         },
         passwordconf: {
           type: String,
           value: ""
         },
         creado: {
           type: Boolean,
           value: false
         },
         cotizar: {
           type: Boolean,
           value: false
         },
         login: {
           type: Boolean,
           value: false
         }
       };
     }
     regresar(){
       this.creado =  true;
       this.login =  true;
     }
     altaCta() {
       //console.log("En el procedimiento de Alta");
       //console.log("valida: " + (this.nombre.trim().length > 0));
       //if (this.apepat.trim().length > 0 != "") {
       if (this.nombre.trim().length > 0) {
         if (this.apepat.trim().length > 0) {
           if (this.apemat.trim().length > 0) {
             if (this.email.trim().length > 0) {
              if (this.emailconf.trim().length > 0) {
               if (this.password.trim().length > 0) {
                 if (this.passwordconf.trim().length > 0) {
                  if (this.email == this.emailconf) {
                    if (this.password == this.passwordconf) {

                       var url="http://localhost:3002/v1/registro";
                       var request = new XMLHttpRequest();

                       request.open("POST", url, false);
                       request.setRequestHeader("Accept","application/json");
                       request.setRequestHeader("Content-Type","application/json");

                       var nuevoUsuario = {"nombre" : this.nombre, "apepat" : this.apepat, "apemat" : this.apemat, "email" : this.email, "password" : this.password};
                       var body = JSON.stringify(nuevoUsuario);

                       request.send(body);
                       console.log(request.responseText);
                       console.log("Petición enviada Alta Usuario");
                    } else {
                      alert("El password y su confirmación son diferentes.");
                    }
                  } else {
                    alert("El email y su confirmación son diferentes.");
                  }
                 } else {
                   alert("La confirmación de password no puede ser vacio.");
                 }
               } else {
                alert("El password no puede ser vacio.");
               }
              } else {
                alert("La confirmación de email no puede ser vacio.");
              }
             } else {
              alert("El email no puede ser vacio.");
             }
           } else {
             alert("El apellido materno no puede ser vacio.");
           }
         } else {
           alert("El apellido paterno no puede ser vacio.");
         }
       } else {
         //console.log("aqui voy");
         alert("El nombre no puede ser vacio.");
       }
   }

     manageAJAXResponse(data) {
       console.log("Respuesta recibida del servidor");
       console.log(data.detail.response);
       alert("Alta exitosa");
       this.logado = true;
       this.cotizar =  true;
     }
     showError(error) {
       console.log("Hubo un error en la petición");
       alert("Datos ingresados incorrectos, verifique o registrese: " + error.description + 'x' + error);
       console.log(error);
     }
   } // Fin de class RegistroApp
   window.customElements.define(RegistroApp.is, RegistroApp);
 </script>
</dom-module>
