<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="cotizar-segsalud">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <div class="row" style="border:1px solid red" hidden$={{!creado}}>
          <table>
            <tr>
              <td><i><b>Lugar: </b></i></td>
              <td>{{name}}, </td>
              <td><i><b>Condiciones: </b></i></td>
              <td>{{weatherDesc}} </td>
              <td>
                <img src={{weatherIcon}}>
              </td>
              <td><i><b>Temp: </b></i></td>
              <td>{{mainTemp}}, </td>
              <td><i><b>Temp Min: </b></i></td>
              <td>{{mainTempMin}}, </td>
              <td><i><b>Temp Max: </b></i></td>
              <td>{{mainTempMax}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="container">
      <h1>Cotizador Seguro Salud</h1>
      <div class="row">
          <form>
            Modalidad:<br>
            <select name="cboMod" input type="text" value="{{modalidad::input}}" required>
              <option value="I">Individual</option>
              <option value="F">Familiar</option>
            </select><br><br>
            Edad:<br>
            <input type="number" min="0" max="99" value="{{edad::input}}" required><br><br>
            Descuento Cupón:<br>
            <input type="number" min="0" max="15" value="{{descuento::input}}" required><br><br>
            Forma de Pago:<br>
            <select input type="text" value="{{formapago::input}}" required>
              <option value="M">Mensual</option>
              <option value="T">Trimestral</option>
              <option value="S"">Semestral</option>
              <option value="A"">Anual</option>
            </select><br><br>
            SA Cirugía Básica:<br>
            <input type="number" min="50000" max="500000" value="{{sabasica::input}}" required><br><br>
            SA 1er Diagnóstico de Cáncer:<br>
            <input type="number" min="50000" max="500000" value="{{sacancer::input}}" required><br><br>
            SA 1er Diagnóstico de Infarto al Miocardio:<br>
            <input type="number" min="50000" max="500000" value="{{samiocardio::input}}" required><br><br>
          </form>
      </div>
      <div class="row">
          <button on-click="mostrarConsulta" class="btn btn-danger col-lg-4 col-xs-12" type="button" name="button">Cotizar</button>
      </div>
      <br>
      <div class="row">
          <table class="table table-striped">
            <tbody>
              <template is="dom-repeat" items="{{cotizacion}}">
                <tr>
                  <td>[[item.concepto]]</td>
                  <td>[[item.valor]]</td>
                </tr>
              </template>
            </tbody>
          </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CotizarSegSalud extends Polymer.Element {
      static get is() { return 'cotizar-segsalud'; }
      static get properties() {
        return {
          cuotas: {
            type: Array,
            notify: true /*-- Peticion sincrona */
          },
          clima: {
            type: Array,
            notify: true /*-- Peticion sincrona */
          },
          modalidad: {
            type: String,
            value: "I"
          },
          edad: {
            type: Number
          },
          descuento: {
            type: Number,
            value:0
          },
          formapago: {
            type: String,
            value: "M"
          },
          sabasica: {
            type: Number
          },
          sacancer: {
            type: Number
          },
          samiocardio: {
            type: Number
          },
          cotizacion: {
            type: Array,
            notify: true /*-- Peticion sincrona */
          },
          climaticas: {
            type: Array,
            notify: true /*-- Peticion sincrona */
          },
          weatherId: {
            type: Number,
            value: 0
          },
          weatherDesc: {
            type: String,
            value: ""
          },
          weatherIcon: {
            type: String,
            value: ""
          },
          mainTemp: {
            type: Number,
            value: 0
          },
          mainTempMin: {
            type: Number,
            value: 0
          },
          mainTempMax: {
            type: Number,
            value: 0
          },
          name: {
            type: String,
            value: ""
          },
          creado: {
            type: Boolean,
            value: false
          }
        };
      }

        mostrarConsulta(){
          if (this.edad >= 0 && this.edad <= 99) {
            if (this.descuento >= 0 && this.descuento <= 15) {
              if (this.sabasica >= 50000 && this.sabasica <= 500000) {
                if (this.sacancer >= 50000 && this.sacancer <= 500000) {
                  if (this.samiocardio >= 50000 && this.samiocardio <= 500000) {
                    this.obtenerClima();
                    this.obtenerCuotas();
                  } else {
                    alert("La SA 1er Diagnóstico de Infarto al Miocardio es incorrecta");
                  }
                } else {
                  alert("La SA 1er Diagnóstico de Cáncer es incorrecta");
                }
              } else {
                alert("La SA Básica es incorrecta");
              }
            } else {
              alert("El Descuento es incorrecto");
            }
          } else {
            alert("La Edad es incorrecta");
          }
        }

        obtenerClima() {
          var request = new XMLHttpRequest();
          var urlClima="http://localhost:3002/v1/Clima";
          var urlIcono =  "http://openweathermap.org/img/wn/";
          var url2 = "";
          var clave;
          var condicion;

          // CONDICIONES DEL CLIMA
          clave = "3527646"; // Id Ciudad (Distrito Federal)
          condicion = clave
          url2 =  urlClima + "/" + condicion

          request.open("GET",url2,false);
          request.setRequestHeader("Accept","application/json");
          request.send();

          this.clima = JSON.parse(request.responseText);

          this.climaticas =  this.clima["weather"];

          this.weatherId =  this.climaticas[0]["id"];

          this.weatherDesc =  this.climaticas[0]["description"];

          this.weatherIcon =  this.climaticas[0]["icon"];
          this.weatherIcon = this.weatherIcon + ".png";
          this.weatherIcon =  urlIcono + this.weatherIcon;

          this.mainTemp =  this.clima["main"]["temp"];
          this.mainTemp = this.mainTemp + "°C"

          this.mainTempMin =  this.clima["main"]["temp_min"];
          this.mainTempMin = this.mainTempMin + "°C"

          this.mainTempMax =  this.clima["main"]["temp_max"];
          this.mainTempMax = this.mainTempMax + "°C"

          this.name =  this.clima["name"];

          this.creado =  true;
        }

        obtenerCuotas() {
        // Variables requeridas
        var request = new XMLHttpRequest();
        var url="http://localhost:3002/v1/Tarifas";

        var producto = "1009";
        var plan =  "001";
        var revision = "001";
        var url2 = "";
        var clave;
        var condicion;

        var saCAC;
        var saHXC;

        var pnCB;
        var pnCAC;
        var pnHXC;
        var pnPDC;
        var pnPDIM;

        var pCB;
        var pCAC;
        var pHXC;
        var pPDC;
        var pPDIM;
        var pTABM;
        var pTFP;
        var pTAFP;
        var pPrimerPago;
        var pnumPagos;
        var primaPagosSubsec;
        //
        var cotizacion= new Array;
        //
        var i =0;

        // CUOTAS DE RIESGOS
        // 1. Cuota de Cobertura de Cirugia Básica (Básica)
        clave =  "WCRCB" + this.edad;
        condicion = clave;
        url2 =  url + "/" + condicion;

        request.open("GET",url2,false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        this.cuotas = JSON.parse(request.responseText);

        var cuotaBasica =  this.cuotas[0]["valor"];
        //console.log("1-" + clave + ": " + cuotaBasica);

        //cotizacion[i] = JSON.parse('{"concepto": "Cuota Básica", ' + '"valor": ' + cuotaBasica + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        url2 =  "";

        // 2. Cuota de Cobertura de Hospitalización por Cirugía
        clave =  "WCRHXC" + this.edad;
        condicion = clave;
        url2 =  url + "/" + condicion;

        request.open("GET",url2,false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        this.cuotas = JSON.parse(request.responseText);

        var cuotaHXC =  this.cuotas[0]["valor"];
        //console.log("2-" + clave + ": " + cuotaHXC);

        //cotizacion[i] = JSON.parse('{"concepto": "Cuota Hospitalización por Cirugía", ' + '"valor": ' + cuotaHXC + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        url2 =  "";

        // 3. Cuota de Cobertura de Cirugía de Alto Costo
        clave =  "WCRCAC" + this.edad;
        condicion = clave;
        url2 =  url + "/" + condicion;

        request.open("GET",url2,false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        this.cuotas = JSON.parse(request.responseText);

        var cuotaCAC =  this.cuotas[0]["valor"];
        //console.log("3-" + clave + ": " + cuotaCAC);

        //cotizacion[i] = JSON.parse('{"concepto": "Cuota Cirugía de Alto Costo", ' + '"valor": ' + cuotaCAC + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        url2 =  "";

        // 4. Cuota de Cobertura de Primer Diagnostico de Cáncer
        clave =  "WCRPDC" + this.edad;
        condicion = clave;
        url2 =  url + "/" + condicion;

        request.open("GET",url2,false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        this.cuotas = JSON.parse(request.responseText);

        var cuotaPDC =  this.cuotas[0]["valor"];
        //console.log("4-" + clave + ": " + cuotaPDC);

        //cotizacion[i] = JSON.parse('{"concepto": "Cuota Primer Diagnóstico de Cáncer", ' + '"valor": ' + cuotaPDC + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        url2 =  "";

        // 5. Cuota de Cobertura de Primer Diagnostico de Infarto al Miocardio
        clave =  "WCRPDIM" + this.edad;
        condicion = clave;
        url2 =  url + "/" + condicion;

        request.open("GET",url2,false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        this.cuotas = JSON.parse(request.responseText);

        var cuotaPDIM =  this.cuotas[0]["valor"];
        //console.log("5-" + clave + ": " + cuotaPDIM);

        //cotizacion[i] = JSON.parse('{"concepto": "Cuota Primer Diagnóstico de Infarto al Miocardio", ' + '"valor": ' + cuotaPDIM + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        url2 =  "";


        // GASTOS
        // 6. Gastos de Administrativos Fijos
        clave =  "WGTOSGAF";
        condicion = clave;
        url2 =  url + "/" + condicion;

        request.open("GET",url2,false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        this.cuotas = JSON.parse(request.responseText);

        var gastosAdmonFijos =  this.cuotas[0]["valor"];
        //console.log("6-" + clave + ": " + gastosAdmonFijos);

        //cotizacion[i] = JSON.parse('{"concepto": "Gastos de Administración Fijos", ' + '"valor": ' + gastosAdmonFijos + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        url2 =  "";

        // 7. Gastos de Administrativos Variables
        clave =  "WGTOSGAV";
        condicion = clave;
        url2 =  url + "/" + condicion;

        request.open("GET",url2,false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        this.cuotas = JSON.parse(request.responseText);

        var gastosAdmonVar =  this.cuotas[0]["valor"];
        //console.log("7-" + clave + ": " + gastosAdmonVar);

        //cotizacion[i] = JSON.parse('{"concepto": "Gastos de Administración Variables", ' + '"valor": ' + gastosAdmonVar + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        url2 =  "";

        // 8. Gastos de Adquisición
        clave =  "WGTOSADQ";
        condicion = clave;
        url2 =  url + "/" + condicion;

        request.open("GET",url2,false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        this.cuotas = JSON.parse(request.responseText);

        var gastosAdq =  this.cuotas[0]["valor"];
        //console.log("8-" + clave + ": " + gastosAdq);

        //cotizacion[i] = JSON.parse('{"concepto": "Gastos de Adquisición", ' + '"valor": ' + gastosAdq + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        url2 =  "";

        // 9. Gastos de Utilidad
        clave =  "WGTOSUTI";
        condicion = clave;
        url2 =  url + "/" + condicion;

        request.open("GET",url2,false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        this.cuotas = JSON.parse(request.responseText);

        var gastosUtil =  this.cuotas[0]["valor"];
        //console.log("9-" + clave + ": " + gastosUtil);

        //cotizacion[i] = JSON.parse('{"concepto": "Gastos de Utilidad", ' + '"valor": ' + gastosUtil + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        url2 =  "";

        // RECARGO x FORMA PAGO
        // 10. Recargo por Forma de Pago
        clave =  "WRXFP";
        condicion = clave;
        url2 =  url + "/" + condicion;

        request.open("GET",url2,false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        this.cuotas = JSON.parse(request.responseText);

        var recargoXFP =  this.cuotas[0]["valor"];
        //console.log("10-" + clave + ": " + recargoXFP);

        //cotizacion[i] = JSON.parse('{"concepto": "Recargo por Forma de Pago", ' + '"valor": ' + recargoXFP + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        url2 =  "";

        // DESCUENTO x FORMA PAGO
        // 11. Descuento por Forma de Pago
        clave =  "WDXFP" + this.formapago;
        condicion = clave;
        url2 =  url + "/" + condicion;

        request.open("GET",url2,false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        this.cuotas = JSON.parse(request.responseText);

        var descuentoXFP =  this.cuotas[0]["valor"];
        //console.log("11-" + clave + ": " + descuentoXFP);

        //cotizacion[i] = JSON.parse('{"concepto": "Descuento por Forma de Pago", ' + '"valor": ' + descuentoXFP + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        url2 =  "";

        // FACTOR HOSPITALIZACION POR CIRUGIAS
        // 12. Factor Hospitalización por Cirugías
        clave =  "WFHXC";
        condicion = clave;
        url2 =  url + "/" + condicion;

        request.open("GET",url2,false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        this.cuotas = JSON.parse(request.responseText);

        var factorHXC =  this.cuotas[0]["valor"];
        //console.log("12-" + clave + ": " + factorHXC);

        //cotizacion[i] = JSON.parse('{"concepto": "Factor Hospitalización por Cirugías", ' + '"valor": ' + factorHXC + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        url2 =  "";

        // FACTOR POR FORMA DE PAGO
        // 13. Factor por Forma de Pago
        clave =  "WFXFP" + this.formapago;
        condicion = clave;
        url2 =  url + "/" + condicion;

        request.open("GET",url2,false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        this.cuotas = JSON.parse(request.responseText);

        var factorxFP =  this.cuotas[0]["valor"];
        //console.log("13-" + clave + ": " + factorxFP);

        //cotizacion[i] = JSON.parse('{"concepto": "Factor por Forma de Pago", ' + '"valor": ' + factorxFP + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        url2 =  "";

        // APLICAR FORMULAS:

        //Sumas Aseguradas:
        // Suma Asegurada de Cirugía Alto Costo:
        saCAC =  this.sabasica;
        var saCAC2 = this.number_format(saCAC,2);
        //console.log("A-" + "saCAC: " + saCAC);

        cotizacion[i] = JSON.parse('{"concepto": "Suma Asegurada de Cirugía Alto Costo", ' + '"valor": ' + '"$' + saCAC2 + '"' + '}');
        i =  i + 1;
        //console.log(cotizacion);

        // Suma Asegurada de Hospitalización por Cirugía:
        saHXC =  this.sabasica * factorHXC;
        var saHXC2 = this.number_format(saHXC,2);
        //console.log("B-" + "saHXC: " + saHXC);

        cotizacion[i] = JSON.parse('{"concepto": "Suma Asegurada de Hospitalización por Cirugía", ' + '"valor": ' + '"$' + saHXC2 + '"' + '}');
        i =  i + 1;
        //console.log(cotizacion);


        //Primas Netas:
        // Prima Neta Cirugía Básica
        pnCB =  cuotaBasica * this.sabasica / 1000;
        //console.log("C-" + "pnCB: " + pnCB);

        //cotizacion[i] = JSON.parse('{"concepto": "Prima Neta Cirugía Básica", ' + '"valor": ' + pnCB + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        // Prima Neta Cirugía Alto Costo:
        pnCAC =  cuotaCAC * saCAC / 1000;
        //console.log("D-" + "pnCB: " + pnCB);

        //cotizacion[i] = JSON.parse('{"concepto": "Prima Neta Cirugía Alto Costo", ' + '"valor": ' + pnCAC + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        // Prima Neta Hospitalización por Cirugía:
        pnHXC =  cuotaHXC * saHXC / 1000;
        //console.log("E-" + "pnCB: " + pnCB);

        //cotizacion[i] = JSON.parse('{"concepto": "Prima Neta Hospitalización por Cirugía", ' + '"valor": ' + pnHXC + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        // Prima Neta Primer Diagnóstico de Cáncer
        pnPDC =  cuotaPDC * this.sacancer / 1000;
        //console.log("F-" + "pnPDC: " + pnPDC);

        //cotizacion[i] = JSON.parse('{"concepto": "Prima Neta Primer Diágnostico de Cáncer", ' + '"valor": ' + pnPDC + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        // Prima Neta Primer Diagnostico de Infarto al Miocardio
        pnPDIM =  cuotaPDIM * this.samiocardio / 1000;
        //console.log("G-" + "pnPDIM: " + pnPDIM);

        //cotizacion[i] = JSON.parse('{"concepto": "Prima Neta Primer Diágnostico de Infarto al Miocardio", ' + '"valor": ' + pnPDIM + '}');
        //i =  i + 1;
        //console.log(cotizacion);


        //Primas:
        // Prima Cirugía Básica
        pCB =  (pnCB + gastosAdmonFijos) /  (1 - gastosAdq - gastosAdmonVar - gastosUtil) * (1 + recargoXFP) * (1 - this.descuento);
        //console.log("H-" + "pCB: " + pCB);

        //cotizacion[i] = JSON.parse('{"concepto": "Prima Cirugía Básica", ' + '"valor": ' + pCB + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        // Prima Cirugía Alto Costo:
        pCAC =  pnCAC /  (1 - gastosAdq - gastosAdmonVar - gastosUtil) * (1 + recargoXFP) * (1 - this.descuento);
        //console.log("I-" + "pCAC: " + pCAC);

        //cotizacion[i] = JSON.parse('{"concepto": "Prima Cirugía Alto Costo", ' + '"valor": ' + pCAC + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        // Prima Hospitalización por Cirugía:
        pHXC =  pnHXC /  (1 - gastosAdq - gastosAdmonVar - gastosUtil) * (1 + recargoXFP) * (1 - this.descuento);
        //console.log("J-" + "pHXC: " + pHXC);

        //cotizacion[i] = JSON.parse('{"concepto": "Prima Hospitalización por Cirugía", ' + '"valor": ' + pHXC + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        // Prima Primer Diagnóstico de Cáncer
        pPDC =  pnPDC /  (1 - gastosAdq - gastosAdmonVar - gastosUtil) * (1 + recargoXFP) * (1 - this.descuento);
        //console.log("K-" + "pPDC: " + pPDC);

        //cotizacion[i] = JSON.parse('{"concepto": "Prima Primer Diagnóstico de Cáncer", ' + '"valor": ' + pPDC + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        // Prima Primer Diagnostico de Infarto al Miocardio
        pPDIM =  pnPDIM /  (1 - gastosAdq - gastosAdmonVar - gastosUtil) * (1 + recargoXFP) * (1 - this.descuento);
        //console.log("L-" + "pPDIM: " + pPDIM);

        //cotizacion[i] = JSON.parse('{"concepto": "Prima Primer Diagnóstico de Infarto al Miocardio", ' + '"valor": ' + pPDIM + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        // Prima Tarifa Anual a Base Mensual
        pTABM =  pCB + pCAC + pHXC + pPDC + pPDIM
        //console.log("M-" + "pTABM: " + pTABM);

        //cotizacion[i] = JSON.parse('{"concepto": "Prima Tarifa Anual a Base Mensual", ' + '"valor": ' + pTABM + '}');
        //i =  i + 1;
        //console.log(cotizacion);

        // Prima Tarifa a Forma de Pago
        pTFP =  pTABM / 12 * descuentoXFP
        var pTFP2 = this.number_format(pTFP,2);
        //console.log("N-" + "pTFP: " + pTFP);

        cotizacion[i] = JSON.parse('{"concepto": "Prima Tarifa a Forma de Pago (' + this.formapago + ')",' + '"valor": ' + '"$' + pTFP2+ '"' + '}');
        i =  i + 1;
        //console.log(cotizacion);

        // Prima Tarifa Anualizada a Forma de Pago
        pTAFP =  pTFP * factorxFP
        var pTAFP2 = this.number_format(pTAFP,2);
        //console.log("O-" + "pTAFP: " + pTAFP);

        cotizacion[i] = JSON.parse('{"concepto": "Prima Tarifa Anualizada", ' + '"valor": ' + '"$' + pTAFP2 + '"' + '}');
        i =  i + 1;
        //console.log(cotizacion);

        // Prima Primer PAGO
        pPrimerPago =  pTFP
        var pPrimerPago2 = this.number_format(pPrimerPago,2);
        //console.log("P-" + "pPrimerPago: " + pPrimerPago);

        cotizacion[i] = JSON.parse('{"concepto": "Prima Primer Pago", ' + '"valor": ' + '"$' + pPrimerPago2 + '"' + '}');
        i =  i + 1;
        //console.log(cotizacion);

        // Numero de Pagos Subsecuentes
        pnumPagos =  factorxFP - 1;
        //console.log("Q-" + "pnumPagos: " + pnumPagos);

        cotizacion[i] = JSON.parse('{"concepto": "Número de Pagos Subsecuentes", ' + '"valor": ' + pnumPagos + '}');
        i =  i + 1;
        //console.log(cotizacion);

        // Prima Pagos Subsecuentes
        primaPagosSubsec =  pPrimerPago * pnumPagos;
        var primaPagosSubsec2 = this.number_format(primaPagosSubsec,2);
        //console.log("R-" + "primaPagosSubsec: " + primaPagosSubsec);

        cotizacion[i] = JSON.parse('{"concepto": "Prima de Pagos Subsecuentes", ' + '"valor": ' + '"$' + primaPagosSubsec2 + '"' + '}');
        i =  i + 1;
        //console.log(cotizacion);

        this.cotizacion =  cotizacion;
        i =  0;
        //console.table(this.cotizacion);

      } // Fin de obtenerCuotas()

      number_format(amount, decimals) {

          amount += ''; // por si pasan un numero en vez de un string
          amount = parseFloat(amount.replace(/[^0-9\.]/g, '')); // elimino cualquier cosa que no sea numero o punto

          decimals = decimals || 0; // por si la variable no fue fue pasada

          // si no es un numero o es igual a cero retorno el mismo cero
          if (isNaN(amount) || amount === 0)
              return parseFloat(0).toFixed(decimals);

          // si es mayor o menor que cero retorno el valor formateado como numero
          amount = '' + amount.toFixed(decimals);

          var amount_parts = amount.split('.'),
              regexp = /(\d+)(\d{3})/;

          while (regexp.test(amount_parts[0]))
              amount_parts[0] = amount_parts[0].replace(regexp, '$1' + ',' + '$2');

          return amount_parts.join('.');
      }


    } // Fin de class CotizarSegSalud
    window.customElements.define(CotizarSegSalud.is, CotizarSegSalud);
  </script>
</dom-module>
