<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="clima-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row" style="border:1px solid red">
        <table>
            <tr>
              <td><i><b>Lugar: </b></i></td>
              <td>{{name}}, </td>
              <td><i><b>Condiciones: </b></i></td>
              <td>{{weatherDesc}} </td>
              <td>
                <img src={{weatherIcon}}>
              </td>
              <td><i><b>Temp: </b></i></td>
              <td>{{mainTemp}}, </td>
              <td><i><b>Temp Min: </b></i></td>
              <td>{{mainTempMin}}, </td>
              <td><i><b>Temp Max: </b></i></td>
              <td>{{mainTempMax}}</td>
            </tr>
        </table>
      </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ClimaApp extends Polymer.Element {
      static get is() { return 'clima-app'; }
      static get properties() {
        return {
          clima: {
            type: Array,
            notify: true /*-- Peticion sincrona */
          },
          climaticas: {
            type: Array,
            notify: true /*-- Peticion sincrona */
          },
          weatherId: {
            type: Number,
            value: 0
          },
          weatherDesc: {
            type: String,
            value: ""
          },
          weatherIcon: {
            type: String,
            value: ""
          },
          mainTemp: {
            type: Number,
            value: 0
          },
          mainTempMin: {
            type: Number,
            value: 0
          },
          mainTempMax: {
            type: Number,
            value: 0
          },
          name: {
            type: String,
            value: ""
          },
          creado: {
            type: Boolean,
            value: true
          }
        };
      }
/*
      constructor() {
        super();
        console.log('Ejecutándose el constructor');
        //this.obtenerClima();
      }

      connectedCallback() {
        super.connectedCallback();
        console.log('Ejecutándose connectedCallback');
        //this.obtenerClima();
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        console.log('Ejecutándose disconnectedCallback');
        //this.obtenerClima();
      }

      ready() {
        super.ready();
        console.log('Ejecutándose ready');
        //this.obtenerClima();
      }

      attached() {
        super.attached();
        console.log('Ejecutándose atached');
        //this.obtenerClima();
      }
*/
/*
      ready() {
        //super.ready();
        console.log('Ejecutándose ready');
        //this.obtenerClima();
      }
*/

      ready() {
        super.ready();
        console.log(this.creado);
        if (this.creado != false) {
          console.log('Ejecutándose ready');
          this.creado =  false;
          console.log(this.creado);
          //this.obtenerClima();
        }

      }

      obtenerClima() {
          var request = new XMLHttpRequest();
          var urlClima="http://localhost:3002/v1/Clima";
          var url2 = "";
          var clave;
          var condicion;
          var urlIcono =  "http://openweathermap.org/img/wn/";

          // CONDICIONES DEL CLIMA
          clave = "3527646"; // Id Ciudad (Distrito Federal)
          condicion = clave
          url2 =  urlClima + "/" + condicion
          //console.log(condicion);
          //console.log(url2);

          request.open("GET",url2,false);
          request.setRequestHeader("Accept","application/json");
          request.send();

          this.clima = JSON.parse(request.responseText);
          //console.table(this.clima);

          this.climaticas =  this.clima["weather"];
          //console.log(this.climaticas);

          this.weatherId =  this.climaticas[0]["id"];
          //console.log(this.weatherId);

          this.weatherDesc =  this.climaticas[0]["description"];
          //console.log(this.weatherDesc);

          this.weatherIcon =  this.climaticas[0]["icon"];
          this.weatherIcon = this.weatherIcon + ".png";
          this.weatherIcon =  urlIcono + this.weatherIcon;
          //console.log(this.weatherIcon);

          this.mainTemp =  this.clima["main"]["temp"];
          this.mainTemp = this.mainTemp + "°C"
          //console.log(this.mainTemp);

          this.mainTempMin =  this.clima["main"]["temp_min"];
          this.mainTempMin = this.mainTempMin + "°C"
          //console.log(this.mainTempMin);

          this.mainTempMax =  this.clima["main"]["temp_max"];
          this.mainTempMax = this.mainTempMax + "°C"
          //console.log(this.mainTempMax);

          this.name =  this.clima["name"];
          console.log(this.name);

          this.creado = false;
        }
    } // Fin de class Clima
    window.customElements.define(ClimaApp.is, ClimaApp);
  </script>
</dom-module>
